
/* 
Crée le 19 déc. 2016, 14:06:05
Auteur : Romain Jacquiez
Nom du css : accueil
*/

.logo{
    
    width: 20%;
}

#bouton1{
    margin : 22px 10px auto auto;
    float: left;
}

#bouton2{
    float: left;
}